:root {
  --branding-colour: #6c63ff;
  --secondary-colour: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.hero {
  background-color: var(--secondary-colour);
  text-align: center;
  padding: 160px 20px;
}

.about-section {
  padding: 160px 20px;
}

.work {
  padding: 160px 120px;
}

.contact {
  padding: 160px 120px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  line-height: 1.5;
}

.about-section h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
}

.profile {
  width: 450px;
}

.navbar-brand {
  width: 120px;
}

.about-section-content {
  margin: 0px 30px;
}
h3 {
  font-family: var(--default-font-family);
  font-size: 28px;
  font-weight: regular;
  line-height: 2;
  color: #272142;
  text-align: center;
}

.btn-branding {
  background: var(--branding-colour);
  border-radius: 4px;
  font-size: 18px;
  color: white;
  line-height: 2;
  padding: 12px 20px;
}

.btn-branding:hover {
  background: white;
  border: 1px solid var(--branding-colour);
  color: var(--branding-colour);
  cursor: pointer;
}

p {
  font-family: var(--default-font-family);
  font-size: 20px;
}
ul {
  list-style: none;
  padding: 0;
}

img {
  border-radius: 6px;
  width: 550px;
  height: 400px;
}

h2 {
  font-size: 60px;
  font-family: var(--heading-font-family);
}

li {
  font-size: 18px;
}

.description {
  padding: 20px 30px;
}

@media (max-width: 960px) {
  .hero {
    padding: 60px 40px;
  }

  .description {
    text-align: center;
  }
  h2 {
    font-size: 50px;
  }
  .hero h1 {
    font-size: 80px;
    line-height: 1.5;
  }
  .about-section {
    text-align: center;
  }
}

h5 {
  text-align: center;
  font-family: var(--heading-font-family);
  font-size: 15px;
  opacity: 0.8;
}
